/*Start CSS*/
.heading{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color:sandybrown;
    font-size: 24px;
    padding: 25px;
    width: auto;
    text-align: center;
    float:left;
    position: relative;
    left: 10px;
}

.instructions{
    background-color:lightsalmon;
    color: green;
    font-size:18px; 
   font-weight: bold;
   padding: 10px;
}

.randomNumber{
    background-color: green;
    height: 175px;
    width: auto;
    text-align:center;
    color:white;
    font-weight:bold;
    font-size: 48px;
}
.score{
    background-color: lightseagreen;
    height: 175px;
    width: auto;
    text-align:left;
    padding: 10px;
}
.scoreHeader{
    height: auto;
    text-align:center;
    background-color:lightskyblue;
    color:white;
    font-weight: bold;
    padding: 1px;
}
.totalScore{
    background-color: lightskyblue;
    color:white;
    font-weight:bold;
    height: 100px;
    text-align: center;
    padding: 20px;
}

/*End CSS*/